@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-user-drag: none;
    user-select: none;
}

.nav::after {
    content: '';
    position: absolute;
    background-color: #3490dc;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    border-radius: 9999px;
    transition-duration: 500ms;
}

.nav:hover::after {
    width: 100%;
}

.navProject::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #3490dc;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9999px;
    transition-duration: 500ms;
}

.navProject:hover::after {
    width: 200px;
}

.nav2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #3490dc;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9999px;
    transition-duration: 500ms;
}

.nav2:hover::after {
    width: 200px;
}